/* Navbar */
.navbar-brand
{
    position: relative;
    margin-left: 5%;
}
.icons{
  display:flex;
  margin: 0%;
  margin-top: -1%;
  margin-left:-15%;
  width:10%;
  
  justify-content: space-between;
}
.nav-element
{
    font-size: 13px;
    
}
.subsection-nav
{
    display: flex;
    margin-right: 7%;
}
hr{
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.291);
}


/* Sidebar */
.sidebar {
    
    top: 0;
    margin-top: 5%;
    margin-left: 0%;
    bottom: 0;
    left: 0;
    padding: 0px 0px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 280px;
    z-index: 600;
    font-size: 18px;
    color: gray;
  }

  .ripple{
    color: gray;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 0px;
    color: blue;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .side{
    margin-left: -2%;
  }

  /* Advertisement */
.ads
{
    margin-left: 0;
    margin-right: 0%;
}

/* Content of Search */
.data
{
    margin-left: 0%;
}

/* Passanger Info */
.box-shadow
{
    margin: 2%;
    border: 1px inset rgba(128, 128, 128, 0.198);
    padding: 2%;
    text-align: justify;
}

.passanger-submit
{
   width: 100%;
}

/* Search */
.add{
    margin-left: 0%;
float: right;

}

/* Coupons */
.coupons{
  background: #dedede;
  padding: 5%;
}
.coupon .kanan {
  /* border: 1px solid dedede; */
  border-left: 1px dashed rgb(71, 71, 71);
  width: 40% !important;
  position:relative;
}

.coupon .kanan .info::after, .coupon .kanan .info::before {
  /* border: 1px solid dedede; */
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #dedede;
  border-radius: 100%;
}
.coupon .kanan .info::before {
  /* border: 1px solid gray; */
  top: -10px;
  left: -10px;
}

.coupon .kanan .info::after {
  /* border: 1px solid gray; */
  bottom: -10px;
  left: -10px;
}
.coupon .time {
  
  font-size: 1.6rem;
}

.btn-primary{
  background-color: orangered;
  border: none;
}
.btn-primary:hover{
  background-color: red;
  border: none;
}

/* In Search Results */

.btn-dark:disabled{
  color: black;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.479);
  font-size: 12px;
  padding: 10px;
}

.alert-danger{
  padding: 10px 5px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-left: -2%;
  margin-right: 0%;
  font-size: 12px;
  color: black;
}

/* Search Results */
#flightName,#flightNameTwo,#flightNameThree{
  font-size: 16px;
  text-decoration: solid 5px;
  margin-left: 5%;
}

.elements{
  padding-top: 2%;
  font-size: 16px;
  text-decoration: solid 5px;
}